*{
	box-sizing: border-box;
 }

body{
	font-family: 'Segoe UI';
	font-size: 14px;
}

header{
	background-color: black;
	font-weight: bold;
	font-size: 18px;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
	text-align: center;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 3em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 65%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 1em 0;
}

section h2{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Segoe UI';
	text-align: center;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
	margin-top: 1em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.829);
	color: #FFF;
	font-size: 12px;

}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em;
	font-family: "Segoe UI";
	border-radius: 5%;
	font-size: 14px;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	font-weight: bold;
	background-color:black;
    clear: both;
	margin-left: 30px;
	text-align: center;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: rgb(85, 82, 82);
	border-color: rgb(65, 63, 63);

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

#mensagens-erro{
	color: red;
	font-weight: bold;
	display: block;
}

#avisos-tabela{
	font-weight: bold;
}

#filtrar-tabela{
	width: 200px;
	height: 30px;
	margin-bottom: 10px;
}

.invisivel{
	display: none;
}

#titulo-filtro{
	font-weight: bold;
	font-size: 12px;
}

#legenda-slogan{
	background-color: rgb(128, 129, 129);
	padding: 5px;
	font-size: 14px;
	font-weight: normal;
}

#formulario-titulo{
	font-weight: bold;
}

footer {
	text-align: center;
	color: white;
	padding: 15px 0;
	background-color: black;
}